@model OrderResponseModel

@{
    string currencySymbol = Model.Currency switch
    {
        "usd" => "$",
        "eur" => "€",
        _ => "₾"
    };
    string status = Model.Status switch
    {
        1 => "Pending",
        2 => "Confirmed",
        3 => "Shipped",
        _ => "Completed"
    };

}

<div class="container mt-4">
    <h1>Order Details</h1>
    <div class="card mb-3">
        <div class="card-header">
            <h3>Order ID: @Model.Id</h3>
        </div>
        <div class="card-body">
            <p><strong>Order Date:</strong> @Model.OrderDateTime.ToString("f")</p>
            <p><strong>Status:</strong> @status</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderItems)
                    {
                        <tr>
                            <td><a asp-action="Details" asp-controller="Home" asp-route-id="@item.Book.Id">@item.Book.Title</a></td>
                            <td>@item.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6">
                    <h4>Total Price: @currencySymbol@Model.TotalPrice.ToString("N2")</h4>
                </div>
                <div class="col-md-6 text-end">
                    <a href="@Url.Action("Index", "Order")" class="btn btn-primary">Back to Orders</a>
                </div>
            </div>
        </div>
    </div>
</div>
